.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(37, 50, 88, 0.476);
  color: white;
  padding: 1rem;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  padding: 0 1rem;
  font-size: 1.2em;
  transition: all 400ms ease-in-out;
}

a:hover {
  color: rgb(218, 51, 17);
}

a:nth-child(1),
a:nth-child(2) {
  border-right: 2px solid white;
}

@media screen and (min-width: 768px) {
  .flex {
    display: flex;
    flex-direction: row;
  }
}
