@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

li {
  list-style: none;
}

.calc {
  width: 30%;
  margin: 2rem auto;
  height: 70vh;
  border: 1px rgba(0, 0, 0, 0.154) solid;
  box-shadow: 1px 1px 20px rgba(0, 0, 0);
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 1fr;
  place-content: center;
  
}

.screen {
  background: #ddd;
  padding: 0 0.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-row: 1/2;
  grid-column: 1/5;
  font-size: 1.5rem;
}

.operation {
  background: rgba(231, 110, 29, 0.842);
  grid-row: 2/3;
  grid-column: 4/5;
}

.operation div {
  height: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.operation div button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  color: white;
  font-size: 1.2em;
}

.operand {
  background: rgba(41, 40, 40, 0.937);
  grid-row: 2/3;
  grid-column: 1/4;
}

.operand div {
  width: inherit;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.operand div button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2em;
}

.operand div button:nth-child(13) {
  padding-right: 22px;
  grid-column: 1/3;
}

.operand div button:nth-child(14) {
  display: none;
}

.operand div button:nth-child(15) {
  font-weight: 900;
}

@media screen and (max-width: 480px) {
  .calc {
    width: 95%;
    height: 80vh;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
  .calc {
    width: 75%;
    margin: 0 auto;
    height: 80vh;
  }
}

@media screen and  (min-width: 600px) and (max-width: 780px) {
  .calc {
    width: 65%;
    margin: 0 auto;
    height: 80vh;
  }
}
