@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

ul {
  list-style: none;
}

.calc {
  width: 25%;
  margin: 5rem auto;
  height: 450px;
  border: 1px rgba(0, 0, 0, 0.154) solid;
  box-shadow: 1px 1px 20px rgba(0, 0, 0);
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 1fr;
}

.screen {
  background: #ddd;
  padding: 0rem .6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-row: 1/2;
  grid-column: 1/5;
}

.operation {
  background: rgba(231, 110, 29, 0.842);
  grid-area: operator;
  grid-row: 2/7;
  grid-column: 4/5;
}

.operation ul {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.operation ul li{
  width: inherit;
}



.operand {
  background: rgba(0, 0, 0, 0.378);
  grid-row: 2/7;
  grid-column: 1/4;
}

.operand ul {
  width: inherit;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.operand ul li:nth-child(13) {
  justify-self: flex-end;
  padding-right: 22px;
}

.operand ul li:nth-child(15) {
  font-weight: 900;
}

